body{
    background: url(../proyecto-completo/imgenes/img/cielo.jpg);
    background-attachment: fixed;
}
#logo{
    background: #1f87c4;
    color: white;
}
#menu ul li:hover{
    background: #1f87c4;
}
.post h2{
    font-size: 20px;
    color: #1f87c4;


}
.button-more{
    background: #1f87c4;
}
form input[type="submit"]:hover{
    background: #1f87c4;
    color: white;
}
#logout:hover{
    background: #1f87c4;
}
#acordeon h3{
    background: #1f87c4;
    }
    #reloj{
        background-color:  #1f88c4ab;
        color: black;
        border: 2px dashed black;
    }